.red-text
{
    color: red;
}
p
{
    font-size: 18px;
    font-family: monospace;
}
h2
{
    font-family: Lobster, monospace;
}
.smaller-image
{
    width: 100px;
}
.thick-green-border
{
    border-width: 10px;
    border: solid;
    border-color: green;
    border-radius: 50%;
}
.silver-background
{
    background-color: silver;
}
#cat-photo-form
{
    background-color: green;
}